.card-component {
    width: 30%;
}

@media (max-width: 1024px) {
    .card-component {
        width: 45%;
    }
}

@media (max-width: 768px) {
    /* TODO */
    .card-component {
        width: 45%;
    }
}

.card-component .image-wrap {
}

.card-component .image {
    height: auto;
    width: 100%;
    display: block;
}