.order-page {
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b6dce1;
    max-width: 1200px;
    border-radius: 15px;
}

.order-item button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;

}

.image-order {
    height: auto;
    width: 150px;
}

@media (max-width: 800px) {
    .order-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-wrap {
        width: 80%;
    }

    .image-order {
        width: 100%;
    }
}